@page "/"

<div class="alert-light" style="margin:12rem; color:black">
    <div>
        <h1><b>Bienvenido/a!</b></h1>
    </div>
    <AuthorizeView>
        <Authorized>
            <h2>#nombreusuario</h2>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView>
        <NotAuthorized>
            <div>
                <h2>Inicie sesión con sus credenciales</h2>
            </div>
            <div class="btn-group btn-block">
                <a href="/authentication/login" class="btn btn-primary">Iniciar sesión</a>
                <a href="/authentication/register" class="btn btn-outline-primary">Registrarse</a>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code{
}