@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <a class="mr-1" href="authentication/profile"><b>Hola, @context.User.Identity.Name!</b></a>
        <button class="btn btn-sm btn-outline-primary" @onclick="BeginSignOut">Cerrar sesión</button>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-sm btn-outline-primary" href="authentication/register">Registrarse</a>
        <a class="btn btn-sm btn-outline-primary" href="authentication/login">Iniciar sesión</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
