@page "/crear-pago"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

@using Proyecto_Vivero.Shared

<h2><b>Nuevo pago</b></h2>

<ComponenteFormPago textSubmit=" Finalizar Pago" OnValidSubmit="CreaPago" pago="pago"
                    empleado="empleado" clientes="clientes"></ComponenteFormPago>

@code {
    public Pago pago = new Pago();
    public Empleado empleado = new Empleado();
    public List<Cliente> clientes { get; set; } = new List<Cliente>();

    protected override async Task OnInitializedAsync()
    {
        int idempleado = 1;
        empleado = await Http.GetFromJsonAsync<Empleado>("api/empleados/" + idempleado); //traigo empleado seleccionado
        pago.EmpleadoId = idempleado;
        clientes = await Http.GetFromJsonAsync<List<Cliente>>("api/clientes"); //muestro todos los clientes
    }

    async Task CreaPago()
    {
        var confirmacion = await JS.InvokeAsync<bool>("confirmar", "¿Confirmar pago?",
            $"Cliente {pago.ClienteId}. Importe: ${pago.Importe}", "question");
        if (confirmacion)
        {
            var respuesta = await Http.PostAsJsonAsync("api/pagos", pago);
            var cuerporespuest = await respuesta.Content.ReadAsStringAsync();

            if (respuesta.IsSuccessStatusCode)
            {
                await JS.InvokeVoidAsync("simple", "¡Éxito!","Pago finalizado", "success");
                NavigationManager.NavigateTo("/ver-pago/" + cuerporespuest);
            }
            else
            {
                await JS.InvokeVoidAsync("simple", "Error","No se pudo realizar pago", "error");
            }
        }
    }
}